@import url("https://fonts.googleapis.com/css2?family=Poller+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$secondaryFont: "Poller One", cursive;
$primaryFont: "Poppins", sans-serif;

$primaryColor: #2d2e57;
$primaryColorLight: #33345f;
$secondaryColor: #ec6982;
$tertiaryColor: #12cdc9;

html,
body {
  margin: 0;
  padding: 0;
  font-family: $primaryFont;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  display: none;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(white, 0.1);
  border-radius: 50px;
}

.flex {
  display: flex;

  &.align-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }

  &.justify-between {
    justify-content: space-between;
  }
}

.grid {
  display: grid;

  &.grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  &.grid-gap-2 {
    grid-column-gap: 2em;
  }
}

a {
  font-size: 14px;
  color: $secondaryColor;
  text-decoration: none;
}

.logo {
  font-size: 36px;
  color: $secondaryColor;
  font-family: $secondaryFont;
  text-align: center;
  margin: 50px 0;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  background-color: $secondaryColor;
  color: white;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}

.loginContainer {
  width: 100%;
  padding: 50px 20px;
  background-color: $primaryColor;
  min-height: 100vh;
  box-sizing: border-box;

  .inner {
    max-width: 400px;
    margin: 0 auto;
  }

  .title {
    font-size: 26px;
    text-align: center;
    color: rgba(white, 0.65);
    margin-bottom: 50px;
  }

  .input-field {
    width: 100%;

    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(white, 0.1);
    outline: none;
    color: white;
    box-sizing: border-box;
  }

  .input-container {
    position: relative;
    margin-top: 20px;
    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  a {
    margin-top: 10px;
  }

  button {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .socialButton {
    height: 50px;
    background-color: rgba(black, 0.19);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
    cursor: pointer;

    img {
      margin-right: 10px;
    }
  }

  .switchOption {
    margin-top: 50px;
    color: rgba(white, 0.33);
    text-align: center;

    b {
      font-weight: 500;
      color: $secondaryColor;
    }
  }
}

.home-container {
  background-color: $primaryColor;
  min-height: 600px;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  display: flex;

  img {
    width: 24px;
    cursor: pointer;
    height: 24px;
  }

  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    z-index: 1;
  }

  .side {
    width: 350px;
    box-sizing: border-box;
    background-color: $primaryColorLight;
    position: relative;
    transition: .5s ease;


    .top {
      padding: 30px;
      img {
        width: 18px;
        height: 18px;
      }
    }


  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;

    .heading {
      border-bottom: 2px solid rgba(white, 0.1);
      padding: 0 50px;
      height: 80px;

      @media screen and (max-width: 480px) {
        padding: 0 20px;
      }

      .rightItems {
        img{
          @media screen and (max-width: 480px) {
            width: 20px;
            height: 20px;
          }
        }
        img:first-child {
          width: 18px;
          height: 18px;
          margin-right: 20px;

          @media screen and (max-width: 480px) {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px){
    display: block;
    position: relative;

    .side{
      position: fixed;
      left: 0;
      bottom: 0;
      z-index: 11;
      top: 0;

      &.close{
        left: -350px;

        & ~ .overlay{
          display: none;
        }
      }
    }
    .main{
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

.mobile{
  display: none;
}

.desktop{
  display: block;
}

@media screen and (max-width: 768px) {
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}

.searchCon {
  margin: 0 30px;
  margin-bottom: 30px;
  background-color: #3b3b65;
  height: 35px;
  border-radius: 40px;
  position: relative;
  overflow: hidden;

  input {
    width: 100%;
    height: 100%;
    background-color: #3b3b65;
    border: none;
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    color: white;
  }

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
  }
}

.userAvatar {
  display: flex;
  align-items: center;
  .imageCon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: darken($primaryColor, 5%);
    margin-right: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @media screen and (max-width: 480px) {
      width: 35px;
      height: 35px;
    }
  }

  .name {
    font-size: 16px;
    font-weight: 500;
    color: white;

    @media screen and (max-width: 480px) {
      font-size: 13px;
    }
  }

  .subContent {
    font-size: 12px;
    color: rgba(white, 0.4);

    @media screen and (max-width: 480px) {
      font-size: 10px;
    }
  }
  &.version2 {
    .imageCon {
      width: 40px;
      height: 40px;
      margin-right: 10px;
      background-color: darken($primaryColor, 5%);
    }

    .name {
      font-size: 13px;
      line-height: 15px;
    }
    .subContent {
      font-size: 10px;
      color: rgba(white, 0.4);
    }
  }
}

.userList {
  height: calc(100vh - 250px);
  overflow: auto;
  padding: 0 30px;
}

.userMain {
  margin-bottom: 25px;

  .counter {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: $secondaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    color: white;
  }
}

.chatbubbleCon {
  display: flex;

  .chatbubble {
    max-width: 600px;
    padding: 10px;
    background-color: #3d4067;
    color: white;
    margin-bottom: 15px;
    border-radius: 4px;
    font-size: 12px;
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }

    .time {
      font-size: 10px;
      margin-top: 5px;
      color: rgba(white, 0.5);
      align-self: flex-end;
    }
  }

  &.sender {
    justify-content: flex-end;
    .chatbubble {
      background-color: $secondaryColor;
    }
  }
}

.chatArea {
  margin: 0 auto;
  padding: 20px 40px;
  flex: 1;
  overflow: auto;
  width: 100%;
  box-sizing: border-box;
  transition: .5s ease;

  @media screen and (max-width: 480px) {
    padding: 20px;
  }
}

.messageZone {
  border-top: 2px solid rgba(white, 0.1);
  height: 150px;
  padding: 10px 40px;
  box-sizing: border-box;

  @media screen and (max-width: 480px) {
    padding: 10px 20px;
    height: 120px;

    img{
      width: 20px;
      height: 20px;
    }
  }

  input {
    margin-top: 20px;
    width: 100%;
    border-radius: 4px;
    background-color: $primaryColorLight;
    border: none;
    padding: 10px;
    height: 50px;
    box-sizing: border-box;
    outline: none;
    color: white;

    @media screen and (max-width: 480px) {
      margin-top: 10px;
    }
  }

  button {
    width: unset;
    height: unset;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

.logout {
  position: absolute;
  bottom: 20px;
  left: 30px;

  font-size: 10px;
  color: rgba(white, 0.1);
}

.modalContain {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(black, 0.19);
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;

  .content-inner {
    background-color: $primaryColor;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;

    .header {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(white, 0.66);
      font-size: 15px;
      border-bottom: 1px solid rgba(white, 0.05);

      img {
        width: 15px;
        cursor: pointer;
      }
    }

    .content {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .inner {
        display: flex;
        max-width: 80%;
        margin: 30px auto;
        width: 100%;

        .leftHook {
          flex: 1;
          margin-right: 50px;
          display: flex;
          align-items: center;
          flex-direction: column;

          .imageCon {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            margin-bottom: 10px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-color: darken($primaryColor, 5%);
          }

          .point {
            font-size: 12px;
            display: flex;
            align-items: center;
            color: rgba(white, 0.5);
            cursor: pointer;

            img {
              margin-left: 5px;
            }
          }
        }

        .dataInput {
          flex: 3;
          label,
          span {
            display: block;
          }

          label {
            margin-bottom: 20px;
            span {
              font-size: 13px;
              color: rgba(white, 0.5);
            }

            input,
            textarea {
              width: 100%;
              padding: 0 10px;
              box-sizing: border-box;
              height: 35px;
              border-radius: 4px;
              outline: none;
              background-color: $primaryColorLight;
              border: none;
              color: white;
            }

            textarea {
              height: 100px;
              padding: 10px;
            }
          }
        }
      }

      button {
        width: 50%;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 50px;
      }

      @media screen and (max-width: 500px) {
        padding: 10px;

        .inner{
          flex-direction: column;

          .leftHook{
            margin-right: 0;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.authContainer {
  background-color: $primaryColor;
  width: 100%;
  min-height: 100vh;
}

.loader {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-radius: 30px;
  animation: rotate 500ms linear infinite;
}

.centerAll {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

@keyframes rotate {
  to {
    transform: rotateZ(360deg);
  }
}

.errorHolder {
  background-color: red;
  color: white;
  padding: 10px;
  margin-bottom: 20px;

  position: relative;

  img {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    cursor: pointer;
  }
}

.noUser {
  font-size: 14px;
  color: white;
  text-align: center;
}

.clickable {
  cursor: pointer;
}
